p,
body,
h1,
h2,
h3,
h4,
h5,
div {
  margin: 0;
  padding: 0;
  display: inline;
}

body {
  font-family: "Shantell Sans", cursive;
}

nav {
  background-color: #ff0000;
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pokeLogo {
  height: 64px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

#searchBar::-webkit-search-decoration,
#searchBar::-webkit-search-cancel-button,
#searchBar::-webkit-search-results-button,
#searchBar::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#searchBar {
  font-family: "Shantell Sans", cursive;
  height: 40px;
  width: 250px;
  border: none;
  border-radius: 16px;
  padding: 0 12px;
  font-size: 12px;
}

#searchButton {
  height: 32px;
  position: absolute;
  right: 8px;
}

.profilePhoto {
  background-color: #ffde00;
  border-radius: 20px;
  border: 3px solid #3b4cca;
  height: 27px;
  width: 27px;
  padding: 3px;
}

@media screen and (max-width: 499px) {
  nav {
    height: 50px;
    padding: 0 4px;
  }
  #pokeLogo {
    height: 50px;
  }

  .profilePhoto {
    height: 20px;
    width: 20px;
  }

  #searchBar {
    height: 30px;
    width: 40vw;
    min-width: 130px;
    border-radius: 10px;
  }
}

.hide {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  order: 200;
}
