p,
body,
h1,
h2,
h3,
h4,
h5,
div {
  margin: 0;
  padding: 0;
  display: inline;
}

body {
  font-family: "Mukta", sans-serif;
}

nav {
  background-color: #ff0000;
  /* width: 100%; */
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pokeLogo {
  height: 50px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.search p {
  color: #ffde00;
  font-weight: 600;
  font-size: 18px;
}

#searchBar {
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 12px;
  padding: 0 8px;
}

#searchButton {
  height: 35px;
}

.profile {
  background-color: #ffde00;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePhoto {
  height: 25px;
}
